/*HEADER AND FOOTER*/
html,
body {
  height: 100%;
}

a{
  color:black;
  text-decoration: none;
}
body {
  background: radial-gradient(#29252C, #33425B);
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  overflow: hidden;
  padding: 30px 0 0 30px;
  text-align: center;
    overflow-y: auto;
  
}


h1{
    font-family: 'ZCOOL KuaiLe', cursive;
    text-shadow: 2px 2px 10px #29252C;
}


footer{
  background-color: #000;
  color:#fff;
   font-size:14px;
   right:2.4vw;
   margin-left:0;

   position:relative;
   bottom:-3vw;
   width:110%;
}

.header{
      border: 1px solid transparent;
      background-color:#D8E9F0;
      margin :-1.8vw 1vw 0 -1vw;
      border-radius: 30px;
      opacity:0.9;
       
}

.logo{
    float: left; 
    height: 60px;
    position:relative;
    left:20px;
    top:11px;
}

.logo:hover{
    transform: scaleX(-1);
}
.inner-header{
    width:80%;
     margin:auto;
}

.header-link{
    float:right; font-size:14px; height: 50px; padding: 30px 5px; font-size:16px; font-weight: bold;
    color:white;
}
